html,
body {
  min-height: 100vh;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
}

::selection {
  background: #8229c6;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #1c1c1c;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: linear-gradient(to top, #8229c6 0%, #2bf2e5 100%);
  background: -webkit-linear-gradient(to top, #8229c6 0%, #2bf2e5 100%);
  background: -moz-linear-gradient(to top, #8229c6 0%, #2bf2e5 100%);
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header-text {
  margin: auto;
  width: max-content;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  margin-top: 200px;
}

.line {
  margin: auto;
  width: 100%;
  height: 2px;
  background-color: #969696;
  width: 60%;
  margin-top: 10px;
}

#title-line {
  margin-top: 80px;
}

.gradient {
  background-image: linear-gradient(to right, #8229c6 0%, #2bf2e5 100%);
  background-image: -webkit-linear-gradient(to right, #8229c6 0%, #2bf2e5 100%);
  background-image: -moz-linear-gradient(to right, #8229c6 0%, #2bf2e5 100%);
}

.gradient-text {
  background: #8229c6;
  background: linear-gradient(to right, #8229c6 0%, #2bf2e5 100%);
  background: -webkit-linear-gradient(to right, #8229c6 0%, #2bf2e5 100%);
  background: -moz-linear-gradient(to right, #8229c6 0%, #2bf2e5 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text::selection {
  background-color: #8229c640;
}

.fade-down-text {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#title-container-container {
  margin: auto;
}

#title-container {
  padding-top: 40px;
  display: grid;
  grid-template-columns: max-content max-content;
  width: max-content;
  margin: auto;
}

#title-container-container a {
  display: block;
  width: max-content;
  cursor: pointer;
  text-decoration: none;
  margin: auto;
}

#title-logo {
  display: flex;
  align-self: center;
  height: 110px;
  width: 110px;
}

#title-text {
  color: #fff;
  width: max-content;
  font-size: 100px;
  font-family: 'Inter', sans-serif;
  margin: 0;
}

#list {
  padding-left: 22%;
  padding-right: 22%;
}

#list li {
  color: #fff;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
}

#buttons {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  width: max-content;
  margin: auto;
}

#buttons a button {
  width: max-content;
  padding-left: 10px;
  padding-right: 10px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  transition-duration: 250ms;
  border: none;
}

#buttons a button:hover {
  transform: translateY(-10px);
}

#buttons a button h2 {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
}

#buttons a {
  text-decoration: none;
}

#contributing-text {
  padding-left: 20%;
  padding-right: 20%;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #fff;
}

#contributing-text a {
  text-decoration: none;
}

#discord-qr {
  border-radius: 20px;
  height: 400px;
  width: 400px;
  margin: auto;
  display: flex;
}
